# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/f23d8e7237ec0556a47f29f81721998964ac56ef81b07beec4f27967b7aa511e.sqlite
package-lock.json
.wrangler
package-lock.json
src/notes-bundle.json
functions/notes-bundle.json
functions/notes-bundle.json
functions/notes-bundle.json
